<div class="question">
  <p><%= @answer[:question] %></p>
  <p>- You</p>
</div>


<div class="response">
  <p><strong><%= @response %></strong></p>
  <p>- Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
